# Ignorar la carpeta node_modules

node_modules

# Ignorar la carpeta dist (a menos que desees alojar el sitio en GitHub Pages)

.nuxt/dist

# Ignorar el archivo .env
.env

# Ignorar el archivo nuxt.config.js
nuxt.config.js

# Ignorar el archivo package-lock.json si se está utilizando yarn
package-lock.json

# Ignorar los archivos de respaldo y caché generados por Visual Studio Code

.vscode/settings.json